body{
	background: linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ), url("../images/grocery-shopping.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 20%;
	width: 100%;
	height: 110%;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: scroll;
	color: white;
}

body, .jumbotron h1{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.05em;
}

.btn-primary{
	width: 85%;
	height: 40%;
	border-radius: 0.5em;
	font-size: 2.25em;
	text-align: center;
}

.jumbotron{
	text-align: center;
	margin: 1em 5% 2em 0em;
	width: 100%;
	padding: 0.5em;
	/*background-color: transparent;*/
	background-color: rgba(0, 0, 0, 0.5);
	/*color: white;*/
	border: 0.15em solid rgba(255,255,255,0.5);
	height: 6em;
}

.jumbotron h1{
	width: 100%;
}

.section {
	border: 0.2em solid rgba(255,255,255,0.5);
	background-color: rgba(0, 0, 0, 0.5);
	border-width: 0.25em;
	border-radius: 0.5em;
	margin-bottom: 1em;
	padding: 1.25em;
	height: 100%;
	text-align: center;
}

.inputName{
	width: 100%;
	text-align: center;
}

#done{
	text-align: center;
}

@media screen and (max-width: 768px){
		
	.jumbotron h1{
		font-size: 3em;
	}
}

@media screen and (max-width: 450px) {
	body{
		background-size: cover;
	}
	
	.container{
		min-width: 100%;
	}
	
	.btn-primary{
		font-size: 1.5em;
	}
	
	.form-control{
		font-size: 1.25em;
	}
	
	label{
		margin-top: 0.5em;
		font-size: 1.25em;
	}
	
	#itemName{
		margin-left: 5%;
		width: 50%;
	}
	
	.btn-default{
		padding: 0.5em 0.5em;
		font-size: 1.5em;
	}
	
	.section{
		padding: 0.15em;
	}
}