body{
	background: linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ), url("../images/shoppingCart.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 70% 20%;
	width: 100%;
	height: 110%;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: scroll;
}

body, .jumbotron h1{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.05em;
}

/*.blackFade{
	top: 0;
	margin-left: -15%;
	width: 200%;
	height: 110%;
	position: absolute;
	background-color: black;
	background-size: 130%;
	background-attachment: fixed;
	opacity: 0.6;
	z-index: -1;
	box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.8);
}*/

.container{
	position: relative;
	width: 100%;
	height: 150%;
	color: white;
}

.full{
	padding: 0em;
}

.buttonGroup{
	margin-top: 1em;
	display: in-line;
	text-align: center;
	width: 100%;
}

.buttonGroup{
	float: center;
}

.btn-primary{
	width: 85%;
	height: 40%;
	border-radius: 0.5em;
	font-size: 2.25em;
	text-align: center;
}

#viewCart{
	z-index: -1;
	opacity: .5;
	cursor: default;
}
	
.jumbotron{
	text-align: center;
	margin: 1em 5% 2em 0em;
	width: 100%;
	padding: 0.5em;
	/*background-color: transparent;*/
	background-color: rgba(0, 0, 0, 0.5);
	/*color: white;*/
	border: 0.15em solid rgba(255,255,255,0.5);
	height: 6em;
}

.jumbotron h1{
	width: 100%;
}

#scanItem{
	display: inline;
	font-size: 1.1em;
	margin: 0em 0em 1em 0em;
	padding: 0.5em 0.25em;
	width: 50%;
}

#cartList{
	width: 100%;
	padding: 0em 0em;
	list-style: none;
}

.bPoint{
	display: inline-block;
	font-size: 1em;
}

.cartItems{
	display: flex;
	flex-direction: row;
	margin-right: 7.5%;
}

.changeQuant{
	width: 20%;
	height: 10%;
	min-width: 20%;
	margin: 0% 5% 5% 0%;
	padding: 0.25em 0.25em;
	font-size: 1.85em;
	text-align: center;
	color: white;
	/*border: 0.25em solid rgba(255,255,255,0.5);*/
	border-radius: 0.5em;
	background-color: rgba(255,255,255,0.2);
}

.listItem{
	width: 82.5%;
	height: auto;
	margin-right: 5%;
	font-size: 2.5em;
	overflow-wrap: break-word;
}

.items{
	width: 100%;
	height: auto;
	font-size: 3em;
	padding: 0.25em 0.25em;
}

.emptySpace{
	position: relative;
	width: 100%;
	height: 5%;
	background-color: transparent;
}

.buttonGroup2{
	position: relative;
}

.descript{
	margin: 0em 2.5%;
}

.inputName{
	position: relative;
	font-size: 2em;
}

.form-control{
	font-size: 1.25em;
	padding: 1.25em 0.75em;
	border-radius: 0.75em;
	text-align: center;
}

#quantGroup{
	position: relative;
	display: flex;
	flex-direction: row;
	width: auto;
	height: 3em;
	margin: 1.5em 0em 1.5em 1em;
}

#quantGroup{
	float: center;
}


.btn-default{
	background-color: rgba(0,0,0,0.5);
	margin: 0.25em .5em;
	padding: 0.25em 0.5em;
	border-radius: .5em;
	font-size: 2.5em;
	width: 90%;
	height: 100%;
}

#add{
	margin-top: 1em;
}

.section {
	border: 0.2em solid rgba(255,255,255,0.5);
	background-color: rgba(0, 0, 0, 0.5);
	border-width: 0.25em;
	border-radius: 0.5em;
	margin-bottom: 1em;
	padding: 1.5em;
	height: 100%;
	text-align: center;
}

#options{
	margin-top: 3%;
}

#cartAdd{
	margin-top: 0.5em;
}

label{
	font-size: 150%;
}

@media screen and (max-width: 768px){
		
	.jumbotron h1{
		font-size: 3em;
	}
}

@media screen and (max-width: 450px) {
	body{
		background-size: cover;
	}
	
	.container{
		min-width: 100%;
	}
	
	.btn-primary{
		font-size: 1.5em;
	}
	
	.form-control{
		font-size: 1.25em;
	}
	
	label{
		margin-top: 0.5em;
		font-size: 1.25em;
	}
	
	#itemName{
		margin-left: 5%;
		width: 50%;
	}
	
	#quantity{
		width: 127.5%;
	}
	
	#cartAddNum{
		width: 125%;
	}
	
	.btn-default{
		padding: 0.5em 0.5em;
		font-size: 1.5em;
	}
	
	.section{
		padding: 0.15em;
	}
}

/*@media screen and (min-width: 992px) {
	
	.btn-primary{
		margin-right: 5%;
		padding: 0.5em 2.5%;
	}
}

@media screen and (min-height: 700px) {
	
	.blackFade{
		height: 110%;
	}
}

@media screen and (min-width: 768px) {
	
	body{
		background-position: 70% 20%;
		overflow-x: hidden;
	}
	
	.blackFade{
		height: 105%;
		width: 120%;	
	}
	
	.jumbotron h1{
		height: 1.25em;
		font-size: 3.25em;
	}
	
	.changeQuant{
		margin-left: -5%;
		margin-right: 5%;
		font-size: 3em;
		width: 7em;
	}
}

@media screen and (min-width: 622px) and (max-width: 768px) {
	
	.btn-primary{
		font-size: 1.8em;
		margin-right: 2.5%;
		padding: 0.5em;
	}
	
	.jumbotron h1{
		height: 1.25em;
		font-size: 3.25em;
	}
	
	.blackFade{
		height: 105%;
	}
	
	.changeQuant{
		width: 20%;
		margin-left: -10%;
		margin-right: 2.5%;
	}
}

@media screen and (max-width: 622px) {
	
	.jumbotron {
		margin-bottom: 1em;
	}
	
	#scanItem{
		width: 90%;
		font-size: 0.8em;
	}
	
	.blackFade{
		height: 105%;
	}
	
	.btn-default{
		font-size: 2em;
	}
	
	.listItem{
		font-size: 2em;
	}
	
	.changeQuant{
		width: 25%;
		min-width: 25%;
	}
}

@media screen and (min-width: 510px) and (max-width: 622px) {
	
	.btn-primary{
		font-size: 1.75em;
	}
}

@media screen and (min-width: 350px) and (max-width: 622px){
	
	.btn-primary{
		display: block;
		font-size: 1.75em;
		margin: 0.5em 0em;
		padding: 0.5em;
		width: 100%;
		text-align: center;
	}
	
	.btn-primary{
		float: center;
	}
	
	.jumbotron h1{
		height: 1em;
		font-size: 3em;
	}
}

@media screen and (max-width: 350px) {
	
	body{
		background-size: 800%;
	}
	
	.blackFade{
		height: 105%;
	}
	
	.btn-primary{
		font-size: 1.5em;
		margin: 0.25em 0em 0.25em 0%;	
		padding: 0.5em 0.25em;
		width: 100%;
		text-align: center;
	}
	
	.jumbotron h1{
		height: 1.5em;
		font-size: 2em;
	}
	
	#scanItem{
		width: 100%;
		font-size: 0.8em;
	}
	
	.inputName{
		font-size: 1.5em;
	}
	
	#cartAddNum{
		height: inherit;
	}
	
	.items{
		font-size: 2em;
	}
	
	.btn-default{
		font-size: 1.25em;
		padding: 0.5em 0.65em;
		margin-left: 2.5%;
	}
}

@media screen and (max-width: 200px) {
		
	.btn-primary{
		font-size: 1em;
	}
	
	#scanItem{
		width: 120%;
		padding: 0.75em 0.75em;
		font-size: 0.55em;
	}
	
	.inputName, .form-control{
		font-size: 1.25em;
	}
	
	.btn-default{
		font-size: 1em;
	}
}*/
