body{
	position: absolute;
	background-image: url("../images/shoppingCart.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 400%;
	background-position: 70% 20%;
	width: 100%;
	height: auto;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: scroll;
}

body, .jumbotron h1{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.05em;
}

.blackFade{
	top: 0;
	margin-left: -15%;
	width: 120%;
	height: 110%;
	position: absolute;
	background-color: black;
	background-size: 130%;
	background-attachment: fixed;
	opacity: 0.4;
	z-index: -1;
	box-shadow: 0px 0px 20px 20px rgba(0,0,0,1);
}

.container{
	position: relative;
	filter: blur(-2px);
	width: 100%;
	height: 150%;
}

.buttonGroup{
	margin-top: 2em;
	display: in-line;
	text-align: center;
	width: 100%;
}

.buttonGroup{
	float: center;
}

.btn-primary{
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
	font-size: 2.25em;
}

#viewCart{
	z-index: -1;
	opacity: .5;
	cursor: default;
}
	
.jumbotron{
	text-align: center;
	margin-bottom: 2em;
	height: 9em;
	padding: 1em;
	background-color: transparent;
	color: white;
}

#scanItem{
	display: inline;
	font-size: 1.25em;
	padding: 0.75em;
	width: 70%;
}

#cartList{
	list-style: none;
}

.bPoint{
	display: inline-block;
	font-size: 0.65em;
}

.items{
	width: 100%;
	height: auto;
	font-size: 3em;
	padding: 0.25em 0.25em;
	color: white;
}

.buttonGroup2{
	position: relative;
}

.btn-default{
	background-color: rgba(0,0,0,0.5);
	position: relative;
	display: inline-block;
	margin: 0.25em .5em;
	padding: 0.25em 0.5em;
	border-radius: .5em;
	font-size: 2.5em;
	height: 100%;
}

@media screen and (min-height: 700px) {
	.blackFade{
		height: 110%;
	}
}

@media screen and (min-width: 992px) {
	.btn-primary{
		margin-right: 5%;
		padding: 0.5em 2.5%;
	}
}

@media screen and (min-width: 768px) {
	body{
		background-position: 70% 20%;
	}
	.blackFade{
		height: 110%;
	}
	.jumbotron h1{
		height: 1.25em;
		font-size: 3.25em;
	}
}

@media screen and (min-width: 622px) and (max-width: 768px) {
	.btn-primary{
		font-size: 1.8em;
		margin-right: 2.5%;
		padding: 0.5em;
	}
	.jumbotron h1{
		height: 1.25em;
		font-size: 3.25em;
	}
}

@media screen and (max-width: 622px) {
	.jumbotron {
		margin-bottom: 1em;
	}
	#scanItem{
		width: 90%;
		font-size: 0.8em;
	}
	.btn-default{
		font-size: 2em;
	}
}

@media screen and (min-width: 510px) and (max-width: 622px) {
	.btn-primary{
		font-size: 1.75em;
	}
}

@media screen and (min-width: 350px) and (max-width: 622px){
	.btn-primary{
		display: block;
		font-size: 1.75em;
		margin: 0.5em 0em;
		padding: 0.5em;
		width: 100%;
		text-align: center;
	}
	.btn-primary{
		float: center;
	}
	.jumbotron h1{
		height: 1em;
		font-size: 3em;
	}
}

@media screen and (max-width: 350px) {
	body{
		background-size: 800%;
	}
	
	.blackFade{
		height: 110%;
	}
	
	.btn-primary{
		font-size: 1.5em;
		margin: 0.25em 0em 0.25em 5%;
		padding: 0.5em 0.25em;
		width: 100%;
		text-align: center;
	}
	
	.jumbotron h1{
		height: 1.5em;
		font-size: 2em;
	}
	
	#scanItem{
		width: 105%;
		font-size: 0.8em;
	}
	
	.items{
		font-size: 2em;
	}
	
	.btn-default{
		font-size: 1.25em;
		padding: 0.75em 0.5em;
		margin-left: 15%;
	}
}