body {
	/*background-color: #AFEEEE;*/
	background-image: url("../images/FamilyPortrait.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 30%;
	top: 0;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	color: white;
	width: 100%;
	height: 200%;
}
.container {
	/*background-color: #AFEEEE;*/
	background-color: transparent;
}

.col-sm-8{
	position: relative;
}

h1{
	font-family: 'Montserrat', sans-serif;
}

.jumbotron {
	background-color: transparent;
	color: white;
	float: center;
	text-align: center;
	position:relative;
	width: 100%;
}

#descript{
	float: center;
	text-align: center;
	width: 100%;
	position: relative;
	margin: 1.5em 0em;
}

.container p {
	font-size: 1.5em;
}

.panel {
	/*background-color: #a7e5e5;*/
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20px;
	border-color: rgba(255,255,255,0.5);
	border-radius: 15px;
	background: black;
	-webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
	box-shadow: inset 0em 0em 5em 1em rgba(255,255,255,0.25), 0em 0em 1em .5em rgba(255,255,255,0.5);
}

.panel:hover{
	border-color: rgba(255,255,255,0.5);
	box-shadow: inset 0em 0em 5em 1em rgba(255,255,255,0.75), 0em 0em 1em .5em rgba(255,255,255,0.5);
}

.content{
	text-align: left;
}

.nameCont{
	background: transparent;
	opacity: 1;
}

.name {
	padding: 20px;
	text-align: center;
	border-width: 1px;
	border-radius: 15px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;s
}

.card {
	padding: 5px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 15px;
}

.remove-btn {
	border-radius: 250%;
	background-color: white;
	border-color: #ccf0ff;
}

.horizontal-btn {
	width: 100%;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 0.65em 0em;
}

.horizontal-input {
	padding: 5px;
	width: 100%;
	border-radius: 5px;
}

.blackFade{
	top: 0;
	width: 150%;
	height: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.5;
	z-index: -1;
}

.list-template{
	width: 100%;
	position: relative;
}

.cancel-btn{
	width: 100%;
	background: rgb(224, 11, 11);
}

.cancel-btn:hover{
	background: rgb(211, 0, 0);
}

@media screen and (min-width: 768px) {
	.blackFade{
		width: 500em;
		margin-left: -10%;
		margin-right: 5%;
		float: center;
	}
	.button-group button {
		font-size: 3.5em;
	}
	.blackFade{
		margin-left: -5%;
		margin-right: 5%;
	}
	body {
		background-size: 200%;
	}
}

@media screen and (min-width: 375px) {
	body {
		background-size: 300%;
		background-position: 60% 20%;
	}
	.button-group button {
		font-size: 2.4em;
	}
	
	.blackFade{
		margin-left: -2.5%;
		margin-right: 5%;
		height: 130%;
	}
}

@media screen and (max-width: 375px) {
	.jumbotron {
		font-size: 3em;
	}
	.button-group button {
		font-size: 1.5em;
	}
	body {
		background-size: 500%;
	}
	.blackFade{
		margin-left: -5%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 250px) {
	.jumbotron {
		font-size: 1.5em;
	}
	body {
		background-size: 1000%;
	}
	.button-group button {
		font-size: 1em;
	}
	.blackFade{
		margin-left: -10%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 150px) {
	.jumbotron {
		font-size: 1em;
	}
	body {
		background-size: 2000%;
	}
	.blackFade{
		margin-left: -15%;
		margin-right: 5%;
	}
}