body {
	/*background-color: #AFEEEE;*/
	background-image: url("../images/FamilyPortrait.jpg");
	top: 0;
	position: absolute;
	background-size: 200%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	font-family: 'Montserrat', sans-serif;
	color: white;
}
.container {
	/*background-color: #AFEEEE;*/
	background-color: transparent;
}

h1{
	font-family: 'Montserrat', sans-serif;
}

.jumbotron {
	background-color: transparent;
	color: white;
	float: center;
	text-align: center;
}


.container p {
	font-size: 1.5em;
}

.panel {
	/*background-color: #a7e5e5;*/
	background-color: #4a5059;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 15px;
	opacity: 0.95;
}

.content{
	text-align: left;
}

.name {
	padding: 20px;
	text-align: center;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 15px;
	font-family: 'Montserrat', sans-serif;
}

.card {
	padding: 5px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 15px;
}

.remove-btn {
	border-radius: 100%;
	background-color: white;
	border-color: #ccf0ff;
}

.horizontal-btn {
	width: 100%;
	margin-bottom: 5px;
	border-radius: 5px;
}

.horizontal-input {
	padding: 5px;
	width: 100%;
	border-radius: 5px;
}

.blackFade{
	top: 0;
	width: 150%;
	height: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.5;
	z-index: -1;
}

@media screen and (min-width: 768px) {
	.blackFade{
		width: 500em;
		margin-left: -10%;
		margin-right: 5%;
		float: center;
	}
	.button-group button {
		font-size: 3.5em;
	}
	.blackFade{
		margin-left: -5%;
		margin-right: 5%;
	}
	body {
		background-size: 200%;
	}
}

@media screen and (min-width: 375px) {
	body {
		background-size: 300%;
		background-position: 60% 20%;
	}
	.button-group button {
		font-size: 2.4em;
	}
	
	.blackFade{
		margin-left: -2.5%;
		margin-right: 5%;
		height: 130%;
	}
}

@media screen and (max-width: 375px) {
	.jumbotron {
		font-size: 3em;
	}
	.button-group button {
		font-size: 1.5em;
	}
	body {
		background-size: 500%;
	}
	.blackFade{
		margin-left: -5%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 250px) {
	.jumbotron {
		font-size: 1.5em;
	}
	body {
		background-size: 1000%;
	}
	.button-group button {
		font-size: 1em;
	}
	.blackFade{
		margin-left: -10%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 150px) {
	.jumbotron {
		font-size: 1em;
	}
	body {
		background-size: 2000%;
	}
	.blackFade{
		margin-left: -15%;
		margin-right: 5%;
	}
}