body {
	/*background-color: #AFEEEE;*/
	background-color: #99e0ff;
}
.container {
	/*background-color: #AFEEEE;*/
	background-color: #99e0ff;
}

.jumbotron {
	background-color: #80d9ff;
}

.panel {
	/*background-color: #a7e5e5;*/
	background-color: #80d9ff;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
}

.name {
	padding: 20px;
	text-align: center;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
}

.card {
	padding: 5px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
}

.remove-btn {
	border-radius: 100%;
	background-color: #99e0ff;
	border-color: #ccf0ff;
}

.horizontal-btn {
	width: 100%;
	margin-bottom: 5px;
}

.horizontal-input {
	padding: 5px;
	width: 100%;
}