body {
	background: linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ), url("../images/shoppingCart.jpg");
	background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.05em;
}

p {
	font-size: 1.75em;
	height: auto;
	overflow-wrap: break-word;
}

.jumbotron {
	text-align: center;
	background-color: rgba(240, 240, 240, 0.75);
}

.jumbotron h1 {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.05em;
}

.full {
	padding: 0;
}

.fridgebtn {
	margin-top: 10px;
}

.fridgebtn-group {
	text-align: center;
}

.fridgebtn-group button {
	width: 100%;
	font-size: 1.5em;
}

.section {
	border: solid;
	border-color: white;
	background-color: rgba(255, 255, 255, 0.75);
	border-width: 1px;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
}

.section-list {
	padding: 20px;
	margin: 10px;
}

.section-list p {
	color: white;
}

.section-full {
	margin: 10px;
}

.item {
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 5px;
}

.item p {
	padding: 0;
}
