html { 
	background: linear-gradient(
		rgba(0, 0, 0, 0.55),
		rgba(0, 0, 0, 0.55)
	), url("../images/groceryShopping.gif") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: transparent;
}

.container {
	color: white;
}

.jumbotron {
	background-color: transparent;
	text-align: center;
}

.app-name {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5875em;
}

.login-p {
	font-size: 1.29375em;
}

.login-label {
	font-size: 1.6171875em;
}

.login-btn {
    width: 100%;
	font-size: 1.29375em;
}

@media all and (max-width: 414px) {
	.app-name {
		font-size: 2.5875em;
	}

	.login-p {
		font-size: 1.29375em;
	}

	.login-label {
		font-size: 1.6171875em;
	}

	.login-btn {
		font-size: 1.29375em;
	}
}

@media all and (max-width: 375px) {
	.app-name {
		font-size: 2.34375em;
	}

	.login-p {
		font-size: 1.171875em;
	}

	.login-label {
		font-size: 1.46484375em;
	}

	.login-btn {
		font-size: 1.171875em;
	}
}

@media all and (max-width: 320px) {
	.app-name {
		font-size: 2em;
	}

	.login-p {
		font-size: 1em;
	}

	.login-label {
		font-size: 1.25em;
	}

	.login-btn {
		font-size: 1em;
	}
}
