body{
	background: linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ), url("../images/scanner.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30% 10%;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
}

body, .jumbotron h1, h2{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.05em;
	color: white;
}

.jumbotron {
	margin: 1em;
	text-align: center;
	background-color:  rgba(0, 0, 0, 0.5);
	border: 0.15em solid rgba(255,255,255,0.5);
}

.container {
	text-align: center;
}

/* In order to place the tracking correctly */
canvas.drawing, canvas.drawingBuffer {
	position: fixed;
	left: 0;
	top: 0;
	float: center;
	border-radius: 0.5em;
}

video{
	margin-left: 1%;
	width: 150%;
	max-height: 100%;
	border-radius: 0.5em;
}

.scannerWidth {
	width: 100%;
	overflow-x: hidden;
}

.btn-default{
	background-color: rgba(0,0,0,0.5);
	margin: 0.25em .5em;
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
	font-size: 2.5em;
	width: 90%;
	height: 100%;
}
